{{>header}}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <title>{{city}}</title>
</head>
<body>
<div id="ABOBA" class="mt-3">
    <div class="container">
        <div class="row" style='background-color: #AAAAFF; padding: 15px 0; border-radius: 10px'>
            <div class="col-6 col-md-4 col-lg-3" style='margin: auto;'>
                <div class="list-group" id="goroda">
                    <a class="list-group-item list-group-item-action" href="/weather/Zhytomyr">
                        Zhytomyr
                    </a>
                    <a class="list-group-item list-group-item-action" href="/weather/Kyiv">
                        Kyiv
                    </a>
                    <a class="list-group-item list-group-item-action" href="/weather/Korosten">
                        Korosten
                    </a>
                    <a class="list-group-item list-group-item-action" href="/weather/Lviv">
                        Lviv
                    </a>
                    <a class="list-group-item list-group-item-action" href="/weather/Ukraine">
                        Ukraine
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-8 col-lg-9">
                <div class="card">
                    <div id="Error"></div>
                    <div class="card-body" id="mainD">
                        <h3 class="card-title" id="title">Weather in {{city}}</h3>
                        <div id="image" style='background-color: rgba(200,200,255,0.5); width: fit-content; border-radius: 50%; margin-bottom: 10px'>
                            <img id="im" src="http://openweathermap.org/img/wn/{{icon}}@2x.png">
                        </div>
                        <table class="table table-striped">
                            <tr>
                                <th>Pressure</th>
                                <td id="pres">{{pres}}</td>
                            </tr>
                            <tr>
                                <th>Humidity</th>
                                <td id="humi">{{humi}}</td>
                            </tr>
                            <tr>
                                <th>Temperature</th>
                                <td id="mytemp">{{mytemp}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

<script>
    if(document.getElementById("pres").innerHTML === "") {
        navigator.geolocation.getCurrentPosition(function (position)
        {
            fetch('http://api.openweathermap.org/data/2.5/weather?lat='+ position.coords.latitude + '&lon=' + position.coords.longitude + '&appid=31d1a9a3acdde31da3e1aa8ae169b8aa')// POMENYAT
                    .then(res => res.json())
                    .then(json => {

                        document.getElementById('mytemp').innerHTML = Math.floor(json.main.temp - 273.15)
                        document.getElementById('pres').innerHTML = json.main.pressure
                        document.getElementById('humi').innerHTML = json.main.humidity

                        let weather = json.weather[0].icon
                        const icon_night = weather.substring(0, weather.length - 1) + 'n'
                        const icon_day = weather.substring(0, weather.length - 1) + 'd'

                        let icon = ""

                        if (icon_night === weather) {
                            icon = icon_night
                        } else if (icon_day === weather) {
                            icon = icon_day
                        }
                        document.getElementById('im').src = "http://openweathermap.org/img/wn/" + icon + "@2x.png"
                        document.getElementById('title').innerHTML = "Weather in your city"
                    })
        })
    }
    function Search()
    {
        let data = document.getElementById('SearchBar').value
        window.location.replace("/weather/" + data)
    }
</script>
</body>
</html>
{{>footer}}
